<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammedshafiullah.androiddemo">

    <!-- Allows applications to open network sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            />
        <activity
            android:name=".DeletelistView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shared_Preference_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Launch_Screen_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchScreenLogin_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchScreenLogoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dialogs_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleListViews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageFromURL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation_Drawer_fragmet_Activity"
            android:label="@string/title_activity_navigation__drawer_fragmet_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhoneContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidGridLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndriodGridLayoutActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactsToListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Andriod_RatingBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DatePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonParsing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonParsingListItem"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SqlDbActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>