<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohammedshafiullah.androiddemo">

    <!-- Allows applications to open network sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DeletelistView" />
        <activity android:name=".Shared_Preference_Activity" />
        <activity android:name=".Launch_Screen_Activity" />
        <activity android:name=".LaunchScreenLogin_Activity" />
        <activity android:name=".LaunchScreenLogoutActivity" />
        <activity android:name=".Dialogs_Activity" />
        <activity android:name=".MultipleListViews" />
        <activity android:name=".FragmentsActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".ImageFromURL" />
        <activity
            android:name=".Navigation_Drawer_fragmet_Activity"
            android:label="@string/title_activity_navigation__drawer_fragmet_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PhoneContacts" />
        <activity android:name=".AndroidGridLayoutActivity" />
        <activity android:name=".AndriodGridLayoutActivity2" />
        android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactsToListView" />
        <activity android:name=".RatingBar" />
        <activity android:name=".Andriod_RatingBar" />
        <activity android:name=".DatePickerActivity"></activity>
    </application>

</manifest>